version: '3.4'

services:
  azurite:
    image: "mcr.microsoft.com/azure-storage/azurite:3.19.0"
    restart: on-failure
    volumes:
      - vol_azurite:/data
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"

volumes:
  vol_azurite:
